<ion-header color="secondary">
  <ion-toolbar color="dark">
    <ion-title>
      Dhaya's Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
    <ion-card>
        <ion-item>
          <ion-icon name="images" slot="start"></ion-icon>
          <ion-label>Save Your Memories Here </ion-label>
        
        </ion-item>
      
        <ion-card-content>
          BECAUSE EVERY PICTURES TELLS A STORY.......
        </ion-card-content>
      </ion-card>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="photoService.takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab> 

</ion-content>
